.backgroundDark{
    -fx-background-color: #242424;
}
.backDarkGrey{
    -fx-background-color: rgba(255,255,255,0.065);
}
.buttonPrimary{
    -fx-background-color: #db9046;
    -fx-fill: white;
    -fx-text-fill: white;
}
.buttonPrimary:hover{
    -fx-background-color: #f3b667;
}
.list-view{
    -fx-background-color: rgba(255,255,255,0.065);
}
.textWhite{
    -fx-fill : white;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: rgba(255,255,255,0.20);
}
.list-cell:filled:hover{
    -fx-background-color: rgba(255,255,255,0.15);
}
.list-cell:odd, .list-cell:even {
    -fx-background-color: none;
    -fx-text-fill: white;
}
.text-field{
    -fx-background-color: rgba(255,255,255,0.065);
    -fx-fill: rgba(255,255,255,0.6);
    -fx-text-fill: rgba(255,255,255,0.6);
    -fx-prompt-text-fill: rgba(255,255,255,0.4);
}
.text-area{
    -fx-background-color: #242424;
    -fx-control-inner-background: rgba(255,255,255,0.065);
    -fx-text-fill: rgba(255,255,255,0.6);
    -fx-fill: rgba(255,255,255,0.6);
    -fx-prompt-text-fill: rgba(255,255,255,0.4);
}
.date-picker{
    -fx-background-color: rgba(255,255,255,0.065);
}
.text-field:focused, .text-field:hover, .text-area:focused, .text-area:hover, .choice-box:focused, .choice-box:hover{
    -fx-border-color: #db9046;
}
.radio-button, .check-box{
    -fx-text-fill: white;
}
.choice-box{
    -fx-background-color: rgba(255,255,255,0.065);
    -fx-font-size: 18px;
}
.choice-box .label{
    -fx-text-fill: rgba(255,255,255,0.6);;
}
.choice-box .context-menu {
    -fx-background-color: #242424;
}
.choice-box .menu-item:focused {
    -fx-background-color: rgba(255,255,255,0.15);
}
.choice-box .menu-item > .label {
    -fx-text-fill: rgba(255,255,255,0.6);;
}