.circleindicator-container  {	
	circleindicator-color: #db830c;
	circleindicator100-color: #ff0509;
	-fx-padding: 5.0;
	-fx-background-color: -fx-background;
}
.circleindicator-container > .circleindicator-label {
	-fx-font-weight: bold; 
 	-fx-font-size: 2.5em;
	-fx-text-fill: circleindicator-color;
	-fx-padding: 5.0;
}

.circleindicator-container > .circleindicator100-label {
	-fx-font-weight: bold;
	-fx-font-size: 2.5em;
	-fx-text-fill: circleindicator100-color;
	-fx-padding: 5.0;
}